// break points
$sp-max-width: 440px;
$tb-max-width: 998px;
$pc-min-width: 998px;

// Colors
$light-green: #6bc6ac;
$dark-green: #303631;
$dark-red: #38211c;
$light-red: #dc5453;
$yellow: #FFC312;
$black: #181818;
$light-grey: #d1d2d4;
$light-grey-two: #d2d2d2;
$dark-grey: #353332;
$dark-grey-two: #252525;
$dark-grey-three: #333333;
$off-white: #f1f1f1;
$white: #fff;

// Fonts
$font-narrow: "PT Sans Narrow", sans-serif;
$font-reg: 'Montserrat', sans-serif; 
