// here you import files
@import "base/variables"; // read var first
@import "base/mixins"; // read mixin second
@import "base/reset";
// @include mq-sp() {

// }
// @include mq-tb() {

// }

// @include mq-pc() {

// }
//*****************************
//  *  Header PAGE STYLE  **
//*****************************
.bg-danger-overlook {
  background: $dark-red;
  color: $light-red;
}
.bg-success-overlook {
  background: $dark-green;
  color: $light-green;
}
body {
  font-family: $font-reg;
  background: linear-gradient(-65deg,   $dark-grey-three,  $dark-grey-two, black, $dark-grey );
    background-size: 700% 700%;
    animation: gradientAbout 10s ease infinite;
  
  @keyframes gradientAbout {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.bg-dark {
  background-color: $black !important;
  
}

.logo {
  height: 100px;
  margin: 20px 20px 20px 10px;
}

.nav-link {
  font-size: 1rem;
  letter-spacing: 1.5px;
  // padding: 50px;
  
  margin-right: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: all 0.4s ease;
  &:hover {
    color: $white;
    border-bottom: 5px double $light-red; 
    border-top: 5px double $light-green;   }
}
 @include mq-sp() {
  .nav-link {
    margin-right: 0px;
}
 }
.navbar {
  background: $black;
  
}
.nav-link, .navbar-dark, .navbar-nav {
  color: $light-grey;
}

.main_login {
  margin: 20px auto;
  width: 33%;
}

// //*****************************
// //  *****  INDEX PAGE STYLE  **
// //*****************************


#heroImage {
  height: 60vh;
  background: url(../imgs/hero-09.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  color: $light-grey;
  h1 {
    font-size: 50px;
    padding: 0 0 10px 0;
  }
  h5 {
    font-family: $font-reg;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 0 0 10px 0;
  }
}

#load-screen {
  background: url(../imgs/header-back.png);
  position: fixed;
  z-index: 10000;
  top: 0px;
  width: 100%;
  height: 1600px;
}

#loading {
  width: 500px;
  height: 500px;
  margin: 10% auto;
  background: url(../imgs/loader.gif);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.pager {
  .active_link {
    background: $black !important;
} 
}

* {
  font-family: "PT Sans Narrow", sans-serif;
}


#productGrid {
  width: 250px;
}

.headline-desktop {
  display: block;
  
}
.headline-mobile {
  display: none;
}
.product_detail_cover_img {
  width: 500px;
}


//*****************************
//  *  DASHBOARD PAGE STYLE  **
//*****************************

#hero_image_dashboard {
  height: 60vh;
  background: url(../imgs/hero-09.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  color: $light-grey;
  h1 {
    font-size: 50px;
    padding: 0 0 10px 0;
  }
  h5 {
    font-family: $font-reg;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 0 0 10px 0;
  }
}
// *****************************
//  *  Pending PAGE STYLE  **
// *****************************
.pending_header {
  @include mq-sp() {

    padding: 15% 0% 15% 0%;
    font-size: 35px;
  }
  padding: 10% 0% 10% 0%;
  text-align: center;
  font-weight: bolder;
  color: $light-red;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;

}
.submitted_header {
  @include mq-sp() {

    padding: 15% 0% 15% 0%;
    font-size: 35px;
  }
  padding: 10% 0% 10% 0%;
  text-align: center;
  font-weight: bolder;
  color: $light-green;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;

}

#comments-popup {
  line-height: 35px;

}
.course_header {
  margin-top: 20px;
  text-align: left;
  font-weight: 300;
  color: $white;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  letter-spacing: 1.5px;
}

.credit_header {
  margin-top: 20px;
  text-align: left;
  font-weight: 300;
  color: $off-white;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.assignment_header {
  margin-top: 20px;
  text-align: left;
  font-weight: bolder;
  color: $light-red;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  border-bottom: 1px solid $white;
  padding-bottom: 30px;
}
.assignment_header-grade {
  margin-top: 20px;
  text-align: left;
  font-weight: bolder;
  color: $light-red;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  padding-bottom: 30px;
}
.assignment_header-submitted {
  margin-top: 20px;
  text-align: left;
  font-weight: bolder;
  color: $light-green;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  border-bottom: 1px solid $white;
  padding-bottom: 30px;
}
.assignment_header-submitted-grade {
  margin-top: 20px;
  text-align: left;
  font-weight: bolder;
  color: $light-green;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  padding-bottom: 30px;
}
.description_header {
  margin-top: 20px;
  font-weight: bolder;
  color: $off-white;
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
}

#pending_section{
  width: 100%;
  height: auto;
  background-color: $dark-red;
  padding-bottom: 3%;
}
#submitted_section {
  width: 100%;
  height: auto;
  background-color: $dark-green;
  padding-bottom: 3%;
}

.course_description {
  color: $white;
  font-size: 17px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
}
body{
  box-sizing: border-box;
  overflow: auto;
}
a{
  text-decoration: none;
  list-style:none;
}
a:hover{
  text-decoration: none;
}
// home for Mobile - (start)
.background-color{
  background-color: $black;
  height: 150px;
  &:hover {
    color: $light-grey; 
  }
}
.background-color:nth-child(2){
  background-color:$dark-green;
  height: 180px;
}
@include mq-pc() {
  .background-color:nth-child(1){
    height: 250px;
  }
  .background-color:nth-child(2){
    height: 250px;
  }
}
@include mq-tb() {
  .background-color:nth-child(1){
    height: 200px;
  }
  .background-color:nth-child(2){
    height: 200px;
  }
}

.background-color:nth-child(3){
  background-color: $dark-red;
  height: 250px;
  border-top: 10px solid $black;
  border-bottom: 10px solid $black;
}
@include mq-pc() {
  .background-color:nth-child(3){
    border-top: 0px solid $black;
    border-bottom: 0px solid $black;
  }
}
.background-color:nth-child(4){
  background-color: $dark-green;
  height: 250px;
  border-bottom: 10px solid $black;
}
@include mq-pc() {
  .background-color:nth-child(4){
    border-top: 0px solid $black;
    border-bottom: 0px solid $black;
  }
}
.background-color:nth-child(5){
  background-color: $dark-grey;
  height: 350px;
  border-bottom: 2px solid $black;
  text-align: center;
}
.background-color:nth-child(6){
  background-color: $dark-grey;
  height: 350px;
  border-top: 10px solid $black;
  text-align: center;
}
// For the box 1
.h1-size-1{
  color: $white;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 50px;
  }
  // For the box 2
.h1-size-2{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 10px;
}
@include mq-pc() {
  .header-btn{
    position: absolute;
    top: 15%;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .new-padding{
    margin-top: 50px!important;
  }
}
@include mq-tb() {
  .header-btn{
    position: absolute;
    top: 8%;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .new-padding{
    margin-top: 30px!important;
  }
}
@include mq-sp() {
  .header-btn{
    position: absolute;
    top: 8%;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .new-padding{
    margin-top: 8px!important;
  }
}

.h2-size-1{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
}
// For the box 3
.h1-size-3{
  color: $light-red;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 10px;
}
.h2-size-2{
  color: $light-red;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
}
.btn-light {
  color: $light-red;
  transition: all 0.4s ease;
  &:hover {
    
    color: $black;
    box-shadow: white 0px 0px 20px;
  }
  .h2-size-3{
    font-family: 'Montserrat', sans-serif;
    font-weight:900; 
    font-size: 20px;
  
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    align-content: center;
    
  }
}

.col-xl-4 {
  transition: all 0.4s ease-in;
  &:hover {
    background: $light-grey;
    color: $black;

  .header-btn {
      h1, h2 {
        color: $black;
      }
    }
  }
}
.h2-subhead {
  color: $light-grey;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  
}
// For the box 4
.h1-size-4{
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 10px;
}
.h3-size-3{
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
}
// For the box 5
.img-size{
  height: 200px;
  margin-top: 30px;
}
.h1-size-5{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 46px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 6px;
}
// home for Mobile - (End)
// fail for Mobile - (start)
.fail-background-color{
  background-color: $dark-grey;
  height: 125px;
  text-align: center;
}
.fail-background-color:nth-child(2){
  background-color: $dark-red;
  height: auto;
  text-align: center;
}
.fail-h1{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 46px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 35px;
}
.fail-h2{
  color: $light-red;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 35px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 35px;
}
.fail-h3{
  color: $light-red;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 90px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 5px;
}
.fail-h4{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 55px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}
.fail-list-1{color: $light-red;
  list-style: none;
  float: left;
  padding-top:0px;
  padding-left: 10px;

  li{
    display: block;
    display: flex;
    font-size: 48px;
    text-transform: uppercase;
  }
}
.fail-list-2{color: $light-red;
  list-style: none;
  float: right;
  padding-top:0px;
  padding-left: 10px;

  li{
    display: block;
    display: flex;
    font-size: 48px;
    text-transform: uppercase;
  }
}
.fail-color{
  color: $light-grey-two;
  text-align: left;
  margin: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
}
// fail for Mobile - (end)
// pass for Mobile - (start)
.pass-background-color{
  background-color: $dark-grey;
  height: 125px;
  text-align: center;
}
.pass-background-color:nth-child(2){
  background-color: $dark-grey;
  height: auto;
  text-align: center;
}
.pass-h1{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 46px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 35px;
}
.pass-h2{
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 35px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 35px;
}
.pass-h3{
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 90px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 5px;
}
.pass-h4{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 55px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}
.pass-list-1{color: $light-green;
  list-style: none;
  float: left;
  padding-top:0px;
  padding-left: 10px;

  li{
    display: block;
    display: flex;
    font-size: 48px;
    text-transform: uppercase;
  }
}
.pass-list-2{color: $light-green;
  list-style: none;
  float: right;
  padding-top:0px;
  padding-left: 10px;

  li{
    display: block;
    display: flex;
    font-size: 48px;
    text-transform: uppercase;
  }
}
.pass-color{
  color: $light-grey-two;
  text-align: left;
  margin: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
}
// pass for Mobile - (end)
// marks for Mobile - (start)
// marks box 1
.marks-background-color{
  background-color: $dark-green;
  height: 225px;
  text-align: center;
}
.marks-h1{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 32px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 15px;
  margin-left: 20px;
}
.marks-h2{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 27px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-left: 20px;
}
.marks-h3{
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 90px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}
// marks box 2
.marks-background-color:nth-child(2){
  background-color: $dark-green;
  height: 225px;
  text-align: center;
  border-bottom: 10px solid $black;
}
// marks box 3
.marks-background-color:nth-child(3){
  background-color: $dark-green;
  height: 225px;
  text-align: center;
  border-bottom: 10px solid $black;
}
.marks-background-color:nth-child(4){
  background-color: $dark-green;
  height: 225px;
  text-align: center;
  border-bottom: 10px solid $black;
}

.marks-h3-addition{
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 19px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  margin-left: 12px;
  margin-top: 16px;
  p{
    display: flex;
  }
}
.tick-image{
  img{
  height: 153px;
  margin-top: -29px;
  }
}
.marks-style{
  display: flex;
}
// marks box 4
.marks-background-color:nth-child(5){
  background-color: $dark-red;
  height: 250px;
  text-align: center;
  border-bottom: 10px solid $black;
}
.marks-p{
  color: $light-red;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 5px;
  margin-left: 20px;
  text-transform: uppercase;
}
// marks box 4
.marks-background-color:nth-child(6){
  background-color: $dark-red;
  height: 200px;
  text-align: center;
}
.marks-h1-addition{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 32px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 40px;
  margin-left: 20px;
}
// marks for Mobile - (end)
// dash for Mobile - (start)
.dash-h1{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 26px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 25px;
  margin-left: 20px;
}
.dash-h2{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 27px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.dash-h3{
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 32px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 10px;
}
.dash-h4{
  color: $light-green;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  margin-left: 20px;
  span ,img{
    height: 80px;
  }
}
.dash-h5{
  color: $light-grey-two;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 46px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  margin-left:20px; 
}
.dash-h5:before{
  content: "";
  color: $light-grey-two;
  display: block;
  width: 160px;
  height: 2px;
  background-color: $light-grey-two;
  position: absolute;
  right: -10px;
  top: 60%;
}
.dash-h5:after{
  content: "";
  color: $light-grey-two;
  display: block;
  width: 25px;
  height: 2px;
  background-color: $light-grey-two;
  position: absolute;
  left: -32px;
  top: 60%;
}
.dash-h3-addition{
  color: $light-red;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 32px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 30px;
}
.dash-h4-addition{
  color: $light-red;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  margin-left: 20px;
  span ,img{
    height: 80px;
  }
}
// dash for Mobile - (end)

//// start of login //////////

.container{
  height: 100%;
  align-content: center;
  }
  
  .card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  }
  
  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: $yellow;
  }
  
  .social_icon span:hover{
  color: $white;
  cursor: pointer;
  }
  
  .card-header h3{
  color: $white
  }
  
  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }
  
  .input-group-prepend span{
  width: 50px;
  background-color: $light-green;
  color: $black;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }
  
  .remember{
  color: $white
  }
  
  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }
  
  .login_btn{
  color: $black;
  background-color: $light-green;
  width: 100px;
  }
  
  .login_btn:hover{
  color: $black;
  background-color: $white
  }
  
  .links{
  color: $white
  }
  
  .links a{
  margin-left: 4px;
  }

  .login_home{
    margin-top: 10%;
  }
//// end of login //////////

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -moz-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}


.arrow {
 
  margin: 0 auto;
  text-align: center;
  width: 80px;
  height:80px;
  background-size: contain;
  color: $light-grey;
  display: none;
  @include mq-tb {
    display: block;
  }
  @include mq-sp {
    display: block;
  }
  i {
    font-size: 50px;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
